<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="#{atoz.system}"></title>
</head>
<body>
<div class="panel-hdr">
  <h2 th:text="#{code}"></h2>
  <div class="panel-toolbar">
    <button type="button" class="btn btn-default btn-sm" id="code-btn">
      <i class="fal fa-plus"></i> <span th:text="#{add.code}"></span>
    </button>
  </div>
</div>
<div class="panel-container show">
  <div class="scrollY_table">
    <table class="table table-bordered table-striped table-sm table-hover" id="sortableTable">
      <tbody>
      <tr th:each="item : ${codeList}" class="table-tr-container code-data cursor-pointer" th:data-code="${item.code}">
        <td style="width: 40%;" th:text="${item.codeName}"></td>
        <td style="width: 20%;" class="code-num" th:text="${item.code}"></td>
        <td style="width: 40%;" th:text="${item.note}"></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div id="code-detail-field">
    <form th:action="@{/system/code/updateCode.do}" method="post" id="update-code-form">
      <input type="hidden" name="codeGroup">
      <table class="table text-center detail-code">
        <thead>
        <tr>
          <th th:text="#{code.name}"></th>
          <th th:text="#{code}"></th>
          <th th:text="#{notes}"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><input type="text" class="form-control" id="detail-code-name" name="codeName" required="required"></td>
          <td><input type="text" class="form-control" id="detail-code-num" name="code" readonly="readonly"></td>
          <td><input type="text" class="form-control" id="detail-code-note" name="note"></td>
        </tr>
        </tbody>
      </table>
    </form>
    <div class="text-right p-3">
      <button type="button" class="btn btn-success" id="update-code-btn" th:text="#{edit}"></button>
      <button type="button" class="btn btn-danger" id="delete-code-btn" th:text="#{delete}"></button>
    </div>
  </div>
  <div id="code-create-field" style="display: none;">
    <form th:action="@{/system/code/insertCode.do}" method="post" id="create-code-form">
      <table class="table text-center detail-code">
        <thead>
        <tr>
          <th th:text="#{code.name}"></th>
          <th th:text="#{notes}"></th>
        </tr>
        </thead>
        <tr>
          <td><input class="form-control" type="text" name="codeName" required="required" maxlength="20"></td>
          <td><input class="form-control" type="text" name="note"></td>
        </tr>
      </table>
      <div class="text-right p-3">
        <button type="button" class="btn btn-primary" id="create-code-btn" th:text="#{save}"></button>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">
  var codeNum = /*[[${codeNum}]]*/ '';

  $("#sortableTable tbody").sortable({
      update: function(event, ui) {
          var sortedData = $("#sortableTable .code-data").map(function(index, element) {
              return {
                  code: $(element).data("code"),
                  sort: index + 1  // Adding 1 to make it 1-based index
              };
          }).get();

          console.log(sortedData);

          $.ajax({
              type: 'post',
              url: '/system/code/sortCode.do',
              contentType: 'application/json',
              data: JSON.stringify({ sortedData: sortedData }),
              success: function(response) {
                  toastr.success('순서를 변경하였습니다.');
              },
              error: function(error) {
                  toastr.error('작업중 문제가 발생하였습니다.');
              }
          });
      }
  });
</script>
</body>
</html>
